@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  background-color: rgb(48, 47, 47);
  color:white;
  font-family: 'Inter', sans-serif;
}

#heading{
  padding-top: 2rem;
  text-align: center;
}

#sound-tiles-row{
  display: flex;
  align-items: center;
  justify-content:center ;
  margin:auto;
}

#tile{
  padding:1rem;
  text-align: center;
}

#tile:hover{
  opacity: 60%;
  cursor: pointer;
}

#content{
  width: 120px;
  height: auto;
  border-radius: 50%;
}